[submodule "VdmLibraryBundle"]
	path = VdmLibraryBundle
	url = git@github.com:3slab/VdmLibraryBundle.git
[submodule "VdmLibraryHttpTransportBundle"]
	path = VdmLibraryHttpTransportBundle
	url = git@github.com:3slab/VdmLibraryHttpTransportBundle.git
[submodule "VdmHealthcheckBundle"]
	path = VdmHealthcheckBundle
	url = git@github.com:3slab/VdmHealthcheckBundle.git
[submodule "VdmPrometheusBundle"]
	path = VdmPrometheusBundle
	url = git@github.com:3slab/VdmPrometheusBundle.git
[submodule "VdmLibraryDoctrineTransportBundle"]
	path = VdmLibraryDoctrineTransportBundle
	url = git@github.com:3slab/VdmLibraryDoctrineTransportBundle.git
[submodule "VdmVersionBundle"]
	path = VdmVersionBundle
	url = git@github.com:3slab/VdmVersionBundle.git
